name: setup-cloudquery example

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

env:
  CQ_NO_TELEMETRY: '1'
  ACTIONS_RUNNER_DEBUG: true
jobs:
  cloudquery-fetch:
    permissions:
      id-token: write
      contents: read
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        dbversion: ['postgres:latest']
        os: [ubuntu-latest]
      fail-fast: false
    services:
      postgres:
        image: ${{ matrix.dbversion }}
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: pass
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::615713231484:role/cq-playground-aws-github-action
          aws-region: us-east-1
      - name: Setup CloudQuery
        uses: ./.
      - name: Fetch
        run: cloudquery fetch --config example_configs/config-1.hcl
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: 'cloudquery-config-1.log'
          path: 'cloudquery.log'
